{% extends "index.html" %}
{% block title %}About Us{% endblock %}
{% block head %}
{{super()}}

	<link rel="stylesheet" href="static/about/css/fontawesome-all.min.css">
	<link rel="stylesheet" href="static/about/css/main.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css">

{% endblock %}
<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="70">
{% block navbars %}
{{super()}}
{% endblock%}
{% block content %}
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section class="intro">
						<header>
							<h1>About Us</h1>
							<ul class="actions">
								<li><a href="#first" class="arrow scrolly"><span class="label">Next</span></a></li>
							</ul>
						</header>
						<div class="content">
							<span class="image fill" data-position="center"><img src="static/img/pic01.webp" alt="" /></span>
						</div>
					</section>

				<!-- Section -->
					<section id="first">
						<header>
							<h2>Mission Statement</h2>
						</header>
						<div class="content">
							<p><strong>AI Thinks</strong> is focused on helping its clients to fill their technical staffing needs by accurately providing experienced and qualified software professionals. AI Thinks consultants can also take complete responsibility of a project, including project management and managing the entire development life cycle. We adhere to the highest quality of standards and procedures to execute projects on a T & M (Time and Material) or Fixed-cost Basis.</p>
							<span class="image main"><img src="static/img/pic02.jpg" alt="" /></span>
						</div>
					</section>

								<!-- Section -->
					<section>
						<header>
							<h2>Core Values</h2>
						</header>
						<div class="content">
							<p><strong>AI Thinks</strong> Like any other company, AI Thinks strives to be commercially successful, however AI Thinks works diligently to nurture a values-based global culture.</p>
							<ul class="feature-icons">
								<li class="icon solid fa-scale-balanced">Integrity</li>
								<li class="icon solid fa-handshake">Trustworthy</li>
								<li class="icon solid fa-circle-info">Dependable</li>
								<li class="icon solid fa-money-bills">Financially Strong</li>
								<li class="icon solid fa-circle-play">Risk Intelligently</li>
								<li class="icon solid fa-seedling">Improve Continuously</li>
							</ul>
						</div>
					</section>

								<!-- Section -->
					<section>
						<header>
							<h2>Capabilities</h2>
						</header>
						<div class="content">
							<p><strong>AI Thinks</strong> is committed to providing innovative software solutions to its clients and recognizes the importance of technology. Our seasoned software professionals have expertise in a wide range of technologies including</p>
							<ul class="feature-icons">
								<li class="icon solid fa-cloud">Cloud Technology</li>
								<li class="icon solid fa-infinity">DevOps</li>

								<li class="icon solid fa-network-wired">Internet and E-Commerce Technology</li>
								<li class="icon solid fa-code">Object Oriented Design/Analysis/Programming</li>
								<li class="icon solid fa-shield-halved">Internet Security, Directory Services and Entitlement Management</li>
								<li class="icon solid fa-database">Data Communication</li>
								<li class="icon solid fa-server">Client-Server Technology</li>
							</ul>
						</div>
					</section>


<!--							&lt;!&ndash; Section &ndash;&gt;-->
<!--					<section id="first">-->
<!--						<header>-->
<!--							<h2>Our Mission</h2>-->
<!--						</header>-->
<!--						<div class="content">-->
<!--							<p><strong>AI Thinks</strong> mission is to maintain, develop and continuously improve its position as a world class supplier engaged in providing software solutions and professional services to our customers in a prompt, efficient and cost effective manner by utilizing computer software experts and the state-of-art technology.</p>-->
<!--							<span class="image main"><img src="static/img/pic02.jpg" alt="" /></span>-->
<!--						</div>-->
<!--					</section>-->

<!--				&lt;!&ndash; Section &ndash;&gt;-->
<!--					<section id="first">-->
<!--						<header>-->
<!--							<h2>How we can help you?</h2>-->
<!--						</header>-->
<!--						<div class="content">-->
<!--							<p><strong>AI Thinks</strong> can help your initiative of being successful by utilizing a unique and flexible framework, designed to help you develop a strategy that ensures your business plans and technology goals are aligned. Starting with your vision and working with you on every step of it to guarantee a successful implementation, we can also show you how to use strategic tools for increasing customer retention and satisfaction. Our experienced and skilled consultants can customize the application to exactly fit your business requirements and integrate it to all other systems.</p>-->
<!--							<span class="image main"><img src="static/img/pic02.jpg" alt="" /></span>-->
<!--						</div>-->
<!--					</section>-->


<!--				&lt;!&ndash; Section &ndash;&gt;-->
<!--					<section>-->
<!--						<header>-->
<!--							<h2>Ultrices erat magna sed condimentum</h2>-->
<!--						</header>-->
<!--						<div class="content">-->
<!--							<p><strong>Integer mollis egestas</strong> nam maximus erat id euismod egestas. Pellentesque sapien ac quam. Lorem ipsum dolor sit nullam.</p>-->

<!--							&lt;!&ndash; Section &ndash;&gt;-->
<!--								<section>-->
<!--									<header>-->
<!--										<h3>Erat aliquam</h3>-->
<!--										<p>Vehicula ultrices dolor amet ultricies et condimentum. Magna sed etiam consequat, et lorem adipiscing sed dolor sit amet, consectetur amet do eiusmod tempor incididunt  ipsum suspendisse ultrices gravida.</p>-->
<!--									</header>-->
<!--									<div class="content">-->
<!--										<div class="gallery">-->
<!--											<a href="static/img/gallery/fulls/01.jpg" class="landscape"><img src="static/img/gallery/thumbs/01.jpg" alt="" /></a>-->
<!--											<a href="static/img/gallery/fulls/02.jpg"><img src="static/img/gallery/thumbs/02.jpg" alt="" /></a>-->
<!--											<a href="static/img/gallery/fulls/03.jpg"><img src="static/img/gallery/thumbs/03.jpg" alt="" /></a>-->
<!--											<a href="static/img/gallery/fulls/04.jpg" class="landscape"><img src="static/img/gallery/thumbs/04.jpg" alt="" /></a>-->
<!--										</div>-->
<!--									</div>-->
<!--								</section>-->




<!--							&lt;!&ndash; Section &ndash;&gt;-->
<!--								<section>-->
<!--									<header>-->
<!--										<h3>Nisl consequat</h3>-->
<!--										<p>Aenean ornare velit lacus, ac varius enim ullamcorper eu. Proin aliquam sed facilisis ante interdum congue. Integer mollis, nisl amet convallis, porttitor magna ullamcorper, amet mauris. Ut magna finibus nisi nec lacinia ipsum maximus.</p>-->
<!--									</header>-->
<!--									<div class="content">-->
<!--										<div class="gallery">-->
<!--											<a href="static/img/gallery/fulls/05.jpg" class="landscape"><img src="static/img/gallery/thumbs/05.jpg" alt="" /></a>-->
<!--											<a href="static/img/gallery/fulls/06.jpg"><img src="static/img/gallery/thumbs/06.jpg" alt="" /></a>-->
<!--											<a href="static/img/gallery/fulls/07.jpg"><img src="static/img/gallery/thumbs/07.jpg" alt="" /></a>-->
<!--										</div>-->
<!--									</div>-->
<!--								</section>-->

<!--							&lt;!&ndash; Section &ndash;&gt;-->
<!--								<section>-->
<!--									<header>-->
<!--										<h3>Lorem gravida</h3>-->
<!--										<p>Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aenean ornare velit lacus, ac varius sed enim lorem ullamcorper dolore.  ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis.</p>-->
<!--									</header>-->
<!--									<div class="content">-->
<!--										<div class="gallery">-->
<!--											<a href="static/img/gallery/fulls/08.jpg" class="portrait"><img src="static/img/gallery/thumbs/08.jpg" alt="" /></a>-->
<!--											<a href="static/img/gallery/fulls/09.jpg" class="portrait"><img src="static/img/gallery/thumbs/09.jpg" alt="" /></a>-->
<!--											<a href="static/img/gallery/fulls/10.jpg" class="landscape"><img src="static/img/gallery/thumbs/10.jpg" alt="" /></a>-->
<!--										</div>-->
<!--									</div>-->
<!--								</section>-->

<!--						</div>-->
<!--					</section>-->

				<!-- Section -->




			<script src="static/about/js/jquery.min.js"></script>
			<script src="/static/about/js/jquery.scrolly.min.js"></script>
			<script src="/static/about/js/browser.min.js"></script>
			<script src="/static/about/js/breakpoints.min.js"></script>
			<script src="/static/about/js/util.js"></script>
			<script src="/static/about/js/main.js"></script>
<script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.bundle.min.js"></script>
    <script src="static/js/owl.carousel.min.js"></script>
    <script src="static/js/app.js"></script>
{% endblock %}
</body>