{% extends "index.html" %}
{% block title %}Services{% endblock %}
{% block head %}
{{super()}}
<link rel="stylesheet" href="static/about/css/fontawesome-all.min.css">
<link rel="stylesheet" href="static/about/css/main.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css">
{% endblock %}
{% block navbars %}
{{super()}}
{% endblock%}
{% block content %}
<!-- Wrapper -->
<div id="wrapper">

    <!-- Intro -->
    <section class="intro">
        <header>
            <h1>Our Services</h1>
            <ul class="actions">
                <li><a href="#first" class="arrow scrolly"><span class="label">Next</span></a></li>
            </ul>
        </header>
        <div class="content">
            <span class="image fill" data-position="center"><img src="static/img/logos.jpeg" alt=""/></span>
        </div>
    </section>

    <!-- Section -->
    <section id="first">
        <header>
            <h2>DevOps</h2>
        </header>
        <div class="content">
            <p><strong>The DevOps Training Program </strong> will furnish you with in-depth knowledge on different
                DevOps tools like Jenkins, Docker, Git, Maven, ANT, Ansible, Selenium, Jira, Vagrant, Kubernetes and
                Nagios. This training is totally involved and structured in a manner to assist you with turning into a
                guaranteed DevOps Engineer through best practices in Continuous Development, Continuous Testing,
                Configuration Management and Continuous Integration, lastly, Continuous Monitoring of software project
                development life cycle.
                Our DevOps Training program is the best opportunity to acquire the relevant skill-set, getting a
                headstart on your competition.
            </p>
                <ul class="feature-icons">
                <li class="icon brands fa-git-alt">Git</li>
                <li class="icon brands fa-jenkins">Jenkins</li>
                <li class="icon solid fa-robot">Ansible</li>
                 <li class="icon solid fa-gears">Terraform</li>
                <li class="icon solid fa-dharmachakra">Kubernetes</li>
                <li class="icon brands fa-docker">Docker</li>
            </ul>
            <span class="image main"><img src="static/img/pic02.jpg" alt=""/></span>
        </div>
    </section>

    <!-- Section -->
    <section>
        <header>
            <h2>Cloud</h2>
        </header>
        <div class="content">
            <p><strong>AI Thinks </strong> Cloud training will provide you In–depth knowledge in Cloud Services like
                (AWS,Azure,GCP) and this course will be helpful to prepare for the best hands-on experience with the
                training from the Cloud certified mentors, you will be able to effectively deploy secure robust
                applications on AWS.Our Cloud training course is in line with the the best practices of the cloud
                computing. You will learn various aspects of how a solution is deployed on the cloud taking into account
                the real time scenarios of how to plan, test and implement a solution.</p>
            <ul class="feature-icons">
                <li class="icon brands fa-aws">AWS</li>
                <li class="icon brands fa-google">GCP</li>
                <li class="icon brands fa-microsoft">Azure</li>
            </ul>
        </div>
    </section>

	 <section>
        <header>
            <h2>Python</h2>
        </header>
        <div class="content">
             <p><strong>AI Thinks </strong>Python programming training course enables you to learn the In-depth concepts from
            scratch. This Python Course is an Object-oriented programming and structured programming are fully
            supported, and many of its features support functional programming. Our Python training will also help you
            master in Python programming concepts such as data operations, file operations, object-oriented programming
            and various Python libraries.
            Learn world’s fastest growing and most popular programming language used by machine learning engineers, data
            scientists, analysts, software engineers alike from our team.</p>

        </div>
    </section>

    	 <section>
        <header>
            <h2>Data Engineering</h2>
        </header>
        <div class="content">
             <p>An essential part of Data Engineering is building systems for collecting, storing, and analyzing large quantities of data. Almost every industry can benefit from it. In order to make the data usable by analysts and data scientists, organizations must have the right people and technology. Data Engineers rely on programming and problem-solving techniques to build scalable solutions. The path to becoming an executive data engineer or chief data officer is straightforward, going from entry-level data engineers to senior data engineers to lead data engineers.
                 AI Thinks Data Engineering course gets you skilled in the collection of data, storing it, parsing it for patterns & insights, and utilizing machine learning to analyze the data, and more. With this course, work on multiple real-life industry projects and gain practical exposure to the tools learned and skills acquired, under the guidance of Industry Experts. </p>

        </div>
    </section>

    <!--							&lt;!&ndash; Section &ndash;&gt;-->
    <!--					<section id="first">-->
    <!--						<header>-->
    <!--							<h2>Our Mission</h2>-->
    <!--						</header>-->
    <!--						<div class="content">-->
    <!--							<p><strong>AI Thinks</strong> mission is to maintain, develop and continuously improve its position as a world class supplier engaged in providing software solutions and professional services to our customers in a prompt, efficient and cost effective manner by utilizing computer software experts and the state-of-art technology.</p>-->
    <!--							<span class="image main"><img src="static/img/pic02.jpg" alt="" /></span>-->
    <!--						</div>-->
    <!--					</section>-->

    <!--				&lt;!&ndash; Section &ndash;&gt;-->
    <!--					<section id="first">-->
    <!--						<header>-->
    <!--							<h2>How we can help you?</h2>-->
    <!--						</header>-->
    <!--						<div class="content">-->
    <!--							<p><strong>AI Thinks</strong> can help your initiative of being successful by utilizing a unique and flexible framework, designed to help you develop a strategy that ensures your business plans and technology goals are aligned. Starting with your vision and working with you on every step of it to guarantee a successful implementation, we can also show you how to use strategic tools for increasing customer retention and satisfaction. Our experienced and skilled consultants can customize the application to exactly fit your business requirements and integrate it to all other systems.</p>-->
    <!--							<span class="image main"><img src="static/img/pic02.jpg" alt="" /></span>-->
    <!--						</div>-->
    <!--					</section>-->


    <!--				&lt;!&ndash; Section &ndash;&gt;-->
    <!--					<section>-->
    <!--						<header>-->
    <!--							<h2>Ultrices erat magna sed condimentum</h2>-->
    <!--						</header>-->
    <!--						<div class="content">-->
    <!--							<p><strong>Integer mollis egestas</strong> nam maximus erat id euismod egestas. Pellentesque sapien ac quam. Lorem ipsum dolor sit nullam.</p>-->

    <!--							&lt;!&ndash; Section &ndash;&gt;-->
    <!--								<section>-->
    <!--									<header>-->
    <!--										<h3>Erat aliquam</h3>-->
    <!--										<p>Vehicula ultrices dolor amet ultricies et condimentum. Magna sed etiam consequat, et lorem adipiscing sed dolor sit amet, consectetur amet do eiusmod tempor incididunt  ipsum suspendisse ultrices gravida.</p>-->
    <!--									</header>-->
    <!--									<div class="content">-->
    <!--										<div class="gallery">-->
    <!--											<a href="static/img/gallery/fulls/01.jpg" class="landscape"><img src="static/img/gallery/thumbs/01.jpg" alt="" /></a>-->
    <!--											<a href="static/img/gallery/fulls/02.jpg"><img src="static/img/gallery/thumbs/02.jpg" alt="" /></a>-->
    <!--											<a href="static/img/gallery/fulls/03.jpg"><img src="static/img/gallery/thumbs/03.jpg" alt="" /></a>-->
    <!--											<a href="static/img/gallery/fulls/04.jpg" class="landscape"><img src="static/img/gallery/thumbs/04.jpg" alt="" /></a>-->
    <!--										</div>-->
    <!--									</div>-->
    <!--								</section>-->


    <!--							&lt;!&ndash; Section &ndash;&gt;-->
    <!--								<section>-->
    <!--									<header>-->
    <!--										<h3>Nisl consequat</h3>-->
    <!--										<p>Aenean ornare velit lacus, ac varius enim ullamcorper eu. Proin aliquam sed facilisis ante interdum congue. Integer mollis, nisl amet convallis, porttitor magna ullamcorper, amet mauris. Ut magna finibus nisi nec lacinia ipsum maximus.</p>-->
    <!--									</header>-->
    <!--									<div class="content">-->
    <!--										<div class="gallery">-->
    <!--											<a href="static/img/gallery/fulls/05.jpg" class="landscape"><img src="static/img/gallery/thumbs/05.jpg" alt="" /></a>-->
    <!--											<a href="static/img/gallery/fulls/06.jpg"><img src="static/img/gallery/thumbs/06.jpg" alt="" /></a>-->
    <!--											<a href="static/img/gallery/fulls/07.jpg"><img src="static/img/gallery/thumbs/07.jpg" alt="" /></a>-->
    <!--										</div>-->
    <!--									</div>-->
    <!--								</section>-->

    <!--							&lt;!&ndash; Section &ndash;&gt;-->
    <!--								<section>-->
    <!--									<header>-->
    <!--										<h3>Lorem gravida</h3>-->
    <!--										<p>Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aenean ornare velit lacus, ac varius sed enim lorem ullamcorper dolore.  ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis.</p>-->
    <!--									</header>-->
    <!--									<div class="content">-->
    <!--										<div class="gallery">-->
    <!--											<a href="static/img/gallery/fulls/08.jpg" class="portrait"><img src="static/img/gallery/thumbs/08.jpg" alt="" /></a>-->
    <!--											<a href="static/img/gallery/fulls/09.jpg" class="portrait"><img src="static/img/gallery/thumbs/09.jpg" alt="" /></a>-->
    <!--											<a href="static/img/gallery/fulls/10.jpg" class="landscape"><img src="static/img/gallery/thumbs/10.jpg" alt="" /></a>-->
    <!--										</div>-->
    <!--									</div>-->
    <!--								</section>-->

    <!--						</div>-->
    <!--					</section>-->

    <!-- Section -->
    <section>
        <header>
            <h2>Java Programming</h2>
        </header>
        <div class="content">
            <p><strong>AI Thinks</strong> advanced Java training course covers the entire spectrum of a Java Programming
                course. It includes all the utmost important aspects of Java, like Core Java, J2EE, Java 8, JDBC
                architecture, Java EE, SOA, Spring frameworks, and JUnit. This advanced Java course helps you in
                becoming an expert in the Core Java Programming Language. With the various kinds of Java interview
                questions and other concept questions answered throughout the course, this advanced Java course in
                Bangalore is just the right one you need to enhance your skills.</p></div>
    </section>
</div>





<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="container-fluid">
                    <div class="row gy-4">
                        <div class="col-lg-4 col-sm-12 bg-cover"
                             style="background-image: url(static/img/c2.jpg); min-height:300px;">
                            <div>

                            </div>
                        </div>
                        <div class="col-lg-8">
                            <form class="p-lg-5 col-12 row g-3">
                                <div>
                                    <h1>Get in touch</h1>
                                    <p>Fell free to contact us and we will get back to you as soon as possible</p>
                                </div>
                                <div class="col-lg-6">
                                    <label for="userName" class="form-label">First name</label>
                                    <input type="text" class="form-control" placeholder="Jon" id="userName"
                                           aria-describedby="emailHelp">
                                </div>
                                <div class="col-lg-6">
                                    <label for="userName" class="form-label">Last name</label>
                                    <input type="text" class="form-control" placeholder="Doe" id="userName"
                                           aria-describedby="emailHelp">
                                </div>
                                <div class="col-12">
                                    <label for="userName" class="form-label">Email address</label>
                                    <input type="email" class="form-control" placeholder="Johndoe@example.com"
                                           id="userName" aria-describedby="emailHelp">
                                </div>
                                <div class="col-12">
                                    <label for="exampleInputEmail1" class="form-label">Enter Message</label>
                                    <textarea name="" placeholder="This is looking great and nice."
                                              class="form-control" id="" rows="4"></textarea>
                                </div>

                                <div class="col-12">
                                    <button type="submit" class="btn btn-brand">Send Message</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


{% endblock %}


{% block footer %}
<script src="static/about/assets/js/jquery.min.js"></script>
<script src="static/about/assets/js/jquery.scrolly.min.js"></script>
<script src="static/about/assets/js/browser.min.js"></script>
<script src="static/about/assets/js/breakpoints.min.js"></script>
<script src="static/about/assets/js/util.js"></script>
<script src="static/about/assets/js/main.js"></script>
<script src="static/js/jquery.min.js"></script>
<script src="static/js/bootstrap.bundle.min.js"></script>
<script src="static/js/owl.carousel.min.js"></script>
<script src="static/js/app.js"></script>
{% endblock %}
